<div style="display: flex; align-items: center; justify-content: center; height: 100vh; flex-direction: column">
    <h2>Sign up</h2>
    <form [formGroup]="signUpForm"
          (ngSubmit)="submit()"
          style="display: flex; align-items: center; justify-content: center; flex-direction: column">

        <!-- first name -->
        <mat-form-field appearance="outline">
            <mat-label> First Name</mat-label>
            <input matInput type="text" formControlName="first_name">

            <mat-error>{{errors.first_name}}</mat-error>
        </mat-form-field>

        <!-- last name -->
        <mat-form-field appearance="outline">
            <mat-label> Last Name</mat-label>
            <input matInput type="text" formControlName="last_name">
            <mat-error>{{errors.last_name}}</mat-error>
        </mat-form-field>

        <!-- email -->
        <mat-form-field appearance="outline">
            <mat-label> Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error>{{errors.email}}</mat-error>
        </mat-form-field>

        <!-- password -->
        <mat-form-field appearance="outline">
            <mat-label> Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error>{{errors.password}}</mat-error>
        </mat-form-field>

        <!-- re password -->
        <mat-form-field appearance="outline">
            <mat-label> Confirm Password</mat-label>
            <input matInput type="password" formControlName="re_password">
            <mat-error>{{errors.re_password}}</mat-error>
        </mat-form-field>

        <button type="submit" mat-stroked-button color="primary">Sign Up</button>
    </form>

</div>
